doctype  html
html 
    head    
        title My Site 
        block scripts 
        block style   
    body 
       nav#navbar.top 
            ul 
                li #[a(href = '/home') Home ]
                li #[a(href = '') About]
                li #[a(href = '') Services]
                li #[a(href = '/contact') Contact Us]
    block content 
        footer#footer 
          | Copyright &copy; ALL RIGHTS RESERVED